@model Jogo
@{
    ViewData["Title"] = "Resultado -";
}

<div id="contain" class="page-header">
    <h1>Resultado do Jogo</h1>
</div>

<div id="contain">

    <h1>@Model.FimdoJogo</h1>

    </div>


    <div id="contain">

        

        <p>
            <strong>Nome:</strong> @Model.Nome
        </p>

        <p>
            <strong>Missão:</strong> @Model.Missao
        </p>

        <p>
            <strong>Score:</strong> @Model.Score
        </p>

        <p>
            <strong>Mísseis restantes:</strong> @Model.Misseis

        </p>

        <a asp-action="NovoJogo" class="btn btn-default">Jogar novamente</a>
        <a asp-action="HiScores" class="btn btn-default">Ver Hi-Scores</a>

    </div>

