@model BattleshipPRJ.Models.Jogo

@{
    ViewData["Title"] = "Game -";
}
<div id="contain" class="page-header">
    <h1>Let's Play!</h1>
</div>


<div class="row">

    <div class="col-md-4">

        <div id="contain">
            <h4><i>@Model.ResultadoJogada</i></h4>
        </div>


        @if (Model.Gameover == true)
        {


            <h1>@Model.FimdoJogo</h1>

            <a asp-action="NovoJogo" class="btn btn-default">Jogar novamente (Online)</a>
            <a asp-controller="Game" asp-action="HiScores" class="btn btn-default">Ver Hi-Scores</a>
            <div id="contain">
                <p>
                    <strong>Nº de Mísseis no alvo:</strong> @Model.TirosAlvo
                </p>

                <p>
                    <strong>Nº de Mísseis na água:</strong> @Model.TirosAgua
                </p>

                <p>
                    <strong>Nº de Mísseis repetidos:</strong> @Model.TirosRepetido

                </p>
                <p>
                    <strong>% de tiros no alvo:</strong> @Model.PercentagemAlvo
                </p>

                <p>
                    <strong>% de barcos afundados:</strong> @Model.PercentagemAfundado
                </p>


            </div>

        }
        else
        {
            <div id="contain">

                <form class="form-inline" method="post" asp-action="Game">


                    <input type="hidden" name="id" value="@Model.ID" />


                    <select class="form-control" name="opcaoX" id="opcaoX" asp-for="Coordx">
                        <option value="0">A</option>
                        <option value="1">B</option>
                        <option value="2">C</option>
                        <option value="3">D</option>
                        <option value="4">E</option>
                        <option value="5">F</option>
                        <option value="6">G</option>
                        <option value="7">H</option>
                        <option value="8">I</option>
                        <option value="9">J</option>
                    </select>



                    <select class="form-control" name="opcaoY" id="opcaoY" asp-for="Coordy">
                        <option value="0">1</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                        <option value="4">5</option>
                        <option value="5">6</option>
                        <option value="6">7</option>
                        <option value="7">8</option>
                        <option value="8">9</option>
                        <option value="9">10</option>
                    </select>


                    <button class="btn btn-danger" type="submit" name="submitbutton" value="Disparar"><span class="glyphicon glyphicon-screenshot"></span>Disparar </button>

                    <div class="btndesistir">
                        <button class="btn btn-default" type="submit" name="submitbutton" value="Desistir">
                            @if (Model.Desistir == true)
                            {
                                @:Tens a certeza?
                            }
                            else
                            {
                                @:Desistir
                            }
                        </button>
                        <button class="btn btn-default" type="submit" name="submitbutton" value="Marcar">Marcar </button>
                    </div>

                </form>



            </div>


        }




        <div id="contain">
            <p>
                <strong>Nome:</strong> @Model.Nome
            </p>

            <p>
                <strong>Missão:</strong> @Model.Missao
            </p>

            <p>
                <strong>Modo:</strong> Online

            </p>
            <p>
                <strong>Score:</strong> @Model.Score
            </p>

            <p>
                <strong>Mísseis restantes:</strong> @Model.Misseis <img src="~/images/gifmissil.gif" alt="Missil" height="60" width="80" />


            </p>

            <img class="barcosrestantessub" src="~/images/1.png" />  @Model.Submarinosrestantes
            <img class="barcosrestantes" src="~/images/portaavioes.png" /> @Model.Portaavioesrestantes
            <img class="barcosrestantes" src="~/images/2.png" /> @Model.Doiscanosrestantes
            <img class="b4rcosrestantes" src="~/images/4.png" /> @Model.Quatrocanosrestantes
            <img class="barcosrestantes" src="~/images/3.png" /> @Model.Trescanosrestantes

        </div>

    </div>



    <div class="col-md-8">

        <table id="gameBoard">
            <!-- tabela tem 1 linha e 1 coluna extra para as coordenadas-->
            <!--primeira linha: letras (coordenadas)-->
            <tr>
                <!-- célula vazia invisível no canto sup.esq. da tabela-->
                <td class="tile-inv"></td>
                @for (int coluna = 0; coluna < 10; coluna++)
                {
                    <td class="tile-inv tile-letras">
                        <!--converter número da coluna para letra com o código ASCII ('A'=65) -->
                        @Convert.ToChar(coluna + 65)
                    </td>
                }
            </tr>
            @for (int linha = 0; linha < 10; linha++) // para cada linha no array modelo, que varia entre 0 e 9
            {
            <tr>
                <td class="tile-inv tile-numeros">
                    <!--primeira coluna: números (coordenadas)-->
                    @(linha + 1)
                </td>
                @for (int coluna = 0; coluna < 10; coluna++) // para cada coluna no array modelo, que varia entre 0 e 9
                {
                    switch (Model.Grelha[linha, coluna])
                    {
                        case 1:
                            <td id="@(linha)@(coluna)" class="tile hit">1</td>
                            break;
                        case 2:
                            <td id="@(linha)@(coluna)" class="tile hit">2</td>
                            break;
                        case 3:
                            <td id="@(linha)@(coluna)" class="tile hit">3</td>
                            break;
                        case 4:
                            <td id="@(linha)@(coluna)" class="tile hit">4</td>
                            break;
                        case 5:
                            <td id="@(linha)@(coluna)" class="tile hit">5</td>
                            break;
                        case 7:
                            <td id="@(linha)@(coluna)" class="fill"></td>
                            break;
                        case 0:
                            <td id="@(linha)@(coluna)" class="tile misses"></td>
                            break;
                        default:
                            <td id="@(linha)@(coluna)" class="tile"></td>
                            break;
                    }
                }
            </tr>
            }
        </table>



    </div>

</div>




@*<div class="row">
        @using (Html.BeginForm("Masterboard", "Game"))
        {
            <input type="hidden" name="gameID" value="@Model.ID" />
            <input type="submit" formtarget="_blank" class="btn btn-warning btn-lg" value="Masterboard" />

        }
    </div>*@