
@model BattleshipPRJ.Models.Player

@{
    ViewData["Title"] = "Game -";
}
<div>
    <h1>Let's Play!</h1>
</div>

<hr />

<div class="row">

    <div class="col-md-8">

        <table id="gameBoard">
            <!-- tabela tem 1 linha e 1 coluna extra para as coordenadas-->
            <!--primeira linha: letras (coordenadas)-->
            <tr>
                <!-- célula vazia invisível no canto sup.esq. da tabela-->
                <td class="tile-inv"></td>

                @for (int coluna = 0; coluna < 10; coluna++)
                {
                    <td class="tile-inv tile-letras">
                        <!--converter número da coluna para letra com o código ASCII ('A'=65) -->
                        @Convert.ToChar(coluna + 65)
                    </td>
                }
            </tr>

            @for (int linha = 0; linha < 10; linha++) // para cada linha no array modelo, que varia entre 0 e 9
            {
                <tr>
                    <td class="tile-inv tile-numeros">
                        <!--primeira coluna: números (coordenadas)-->
                        @(linha + 1)
                    </td>

                    @for (int coluna = 0; coluna < 10; coluna++) // para cada coluna no array modelo, que varia entre 0 e 9
                    {
                        switch (ViewBag.Grelha[linha, coluna])
                        {
                            case 1:
                            case 2:
                            case 3:
                            case 4:
                            case 5:
                                <td id="@(linha)@(coluna)" class="tile hit">000</td>
                                break;
                            case 0:
                                <td id="@(linha)@(coluna)" class="tile misses">000</td>
                                break;
                            default:
                                <td id="@(linha)@(coluna)" class="tile">000</td>
                                break;
                        }
                    }
                </tr>
            }

        </table>


    </div>
    <div class="col-md-4">
        <div asp-validation-summary="All">
            <form method="post">
                <select id="opcaoX" asp-for="CoordX">
                    <option value="0">A</option>
                    <option value="1">B</option>
                    <option value="2">C</option>
                    <option value="3">D</option>
                    <option value="4">E</option>
                    <option value="5">F</option>
                    <option value="6">G</option>
                    <option value="7">H</option>
                    <option value="8">I</option>
                    <option value="9">J</option>
                </select>



                <select id="opcaoY" asp-for="CoordY">
                    <option value="0">1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                    <option value="4">5</option>
                    <option value="5">6</option>
                    <option value="6">7</option>
                    <option value="7">8</option>
                    <option value="8">9</option>
                    <option value="9">10</option>
                </select>

                <button class="btn btn-default" type="submit">Submit</button>
                
                <label asp-for="Nome">Nome:</label>
                <input asp-for="Nome" />
            </form>
        </div>

        <p>
            Nome do jogador: @Model.Nome
        </p>

        <p>
            Missão: @Model.Missao
        </p>


        <p>
            Score: @Model.Score
        </p>
        <p>
            Mísseis restantes: @ViewBag.Misseis


        </p>
        <p>
            Porta aviões restantes: 1 (Ir atualizando)
        </p>
        <p>
            4 canos restantes: 1 (Ir atualizando)
        </p>
        <p>
            3 canos restantes: 2 (Ir atualizando)
        </p>
        <p>
            2 canos restantes: 3 (Ir atualizando)
        </p>
        <p>
            Submarinos restantes: 4 (Ir atualizando)
        </p>











        <div>
            <form asp-action="HiScores">
                <button class="btn btn-default">Desistir</button>
            </form>
        </div>


    </div>

</div>
