
@model List<Jogo>
    
@{ 
    ViewData["Title"] = "Jogos Criados -";

}

<div id="contain" class="page-header">
    <h1>Jogos Criados</h1>

</div>


@if(Model.Count==0)
{

    <h3>Sem Jogos</h3>


}


@foreach(Jogo j in Model)
{


    <div id="contain">

        <b>ID: </b> @j.ID
        <b>Nome: </b> @j.Nome
        <b>Missão:</b> @j.Missao
        <b>Mísseis: </b> @j.Misseis
        <b>Score: </b> @j.Score
        <b>CoordX: </b> @j.Coordx
        <b>CoordY: </b> @j.Coordy
        <b>Porta aviões restantes:</b> @j.Portaavioesrest
        <b>4 canos restantes:</b> @j.Quatrocanosrest
        <b>3 canos restantes:</b> @j.Trescanosrest
        <b>2 canos restantes:</b> @j.Doiscanosrest
        <b>Submarinos restantes:</b> @j.Submanrinosrest



    </div>

}


<a asp-action="Teste" class="btn btn-default">Apagar Jogos</a>
