@model int[,];
@{
    ViewData["Title"] = "Play Battleship!";
    ViewData["MasterClient"] = "Client";
}

<div id="contain" class="page-header">
    <h1>Cheats</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table id="gameBoard">
                <!-- tabela tem 1 linha e 1 coluna extra para as coordenadas-->
                <!--primeira linha: letras (coordenadas)-->
                <tr>
                    <td class="tile-inv"></td> <!-- célula vazia no canto sup.esq. da tabela-->
                    @for (int coluna = 0; coluna < 10; coluna++)
                    {
                    <td class="tile-inv tile-letras">
                        @Convert.ToChar(coluna + 65)
                    </td>
                    }
                </tr>

                @for (int linha = 0; linha < 10; linha++) // para cada linha no array modelo, que varia entre 0 e 7
                {
                <tr>
                    <td class="tile-inv tile-numeros">
                        <!--primeira coluna: números (coordenadas)-->
                        @(linha + 1)
                    </td>

                    @for (int coluna = 0; coluna < 10; coluna++) // para cada coluna no array modelo, que varia entre 0 e 7
                        {
                            switch (Model[coluna, linha])
                            {
                                case 1:
                                case 2:
                                case 3:
                                case 4:
                                case 5:
                    <td id="@(linha)@(coluna)" class="tile hit">000</td>
                                    break;
                                case 0:
                    <td id="@(linha)@(coluna)" class="tile misses">000</td>
                                    break;
                                default:

                    <td id="@(linha)@(coluna)" class="tile">000</td>
                                    break;

                            }
                        }
                </tr>
                }

            </table>
        </div>




    </div>
</div>
