@model  List<RoundSummary>
@*ou Jogo*@

@{
    ViewData["Title"] = "Resultados Jogo Autónomo -";
}
<div id="contain" class="page-header">
    <h1>Resultados Jogo Autónomo</h1>

    <h2>Resultados por Ronda</h2>

</div>

<table>
    <tr>
        <th>Nºronda</th>
        <th>Score Início</th>
        <th>Coordenadas do Alvo</th>
        <th>Resultado do Tiro</th>
        <th>Tipo de Barco</th>
        <th>Tiros no Alvo</th>
        <th>NºBarcos Afundados</th>
        <th>Score Fim</th>


    </tr>

    @foreach (RoundSummary rs in Model)
    {

    <tr>

        <td>@rs.NRonda</td>
        <td>@rs.ScoreInicio</td>
        <td>@rs.CoordAlvoEscolhido</td>
        <td>@rs.ResultTiro</td>
        <td>@rs.BarcoAtingido</td>
        <td>@rs.TotalTiroAlvo</td>
        <td>@rs.TotalBarcosAfundados</td>
        <td>@rs.ScoreFimRonda</td>


    </tr>


    }


</table>

@*<table id="gameBoard">
        <!-- tabela tem 1 linha e 1 coluna extra para as coordenadas-->
        <!--primeira linha: letras (coordenadas)-->
        <tr>
            <!-- célula vazia invisível no canto sup.esq. da tabela-->
            <td class="tile-inv"></td>
            @for (int coluna = 0; coluna < 10; coluna++)
            {
                <td class="tile-inv tile-letras">
                    <!--converter número da coluna para letra com o código ASCII ('A'=65) -->
                    @Convert.ToChar(coluna + 65)
                </td>
            }
        </tr>
        @for (int linha = 0; linha < 10; linha++) // para cada linha no array modelo, que varia entre 0 e 9
        {
            <tr>
                <td class="tile-inv tile-numeros">
                    <!--primeira coluna: números (coordenadas)-->
                    @(linha + 1)
                </td>
                @for (int coluna = 0; coluna < 10; coluna++) // para cada coluna no array modelo, que varia entre 0 e 9
                {
                    switch (Model.Grelha[linha, coluna])
                    {
                        case 1:
                        case 2:
                        case 3:
                        case 4:
                        case 5:
                            <td id="@(linha)@(coluna)" class="tile hit"></td>
                            break;
                        case 7:
                            <td id="@(linha)@(coluna)" class="fill"></td>
                            break;
                        case 0:
                            <td id="@(linha)@(coluna)" class="tile misses"></td>
                            break;
                        default:
                            <td id="@(linha)@(coluna)" class="tile"></td>
                            break;
                    }
                }
            </tr>
        }
    </table>*@


<h2> Resultados Globais</h2>

@*<table>
    <tr>
        <th>Nº de Rondas</th>
        <th>Score Final</th>
        <th>Resultado</th>
        <th>Mísseis Lançados</th>
        <th>% Tiros no alvo</th>
        <th>% Barcos afundados</th>

    </tr>

    @{RoundSummary nrond = new RoundSummary();
        }


    @foreach (RoundSummary r in Model)
    {
        <tr>

            <td>   </td>
            <td>


                @{nrond.NumTotRondas();
                    }

            </td>
            <td>     </td>


        </tr>
    }

    </table>*@



